:root{
    --quote-height: 120px;
    --img-width: 120px;
    --p-width: 200px;

    --normal-text:16px;
    --small-text:14px;
    --super-small-text:12px;
  }

.Quote p,
.Quote img,
.Quote button{
    height: 100%;
    display: inline-block;
    padding: 0 8px;
    vertical-align: middle;
}

.Quote p{
    width: var(--p-width);
    margin: 0;
    font-size: var(--normal-text);
}

p.smallText{
    font-size: var(--small-text);
}

p.superSmallText{
    font-size: var(--super-small-text);
}

.Quote img{
    object-fit: cover;
    width: var(--img-width);
    border-radius: 10%;
}

.Quote button{
    vertical-align:middle;
    background: transparent;
    border: none;
    color: #999;
}

.Quote  button:hover{
    color: #39c;
}

.Quote  button:disabled{
    opacity: 0;
}

.Quote{
    padding: 8px;
    height: var(--quote-height);
    display: flex;
    justify-content: center;
}


.points{
    display: block;
    width: 48px;
    margin: auto;
}

.point{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 2px;
    display: inline-block;
    background: #ccc;
}

.point[itemtype='active']{
    background: #999;
}