:root{
    --height: 40px;
    --line-height: 35px;
  }
form, button{
    display: inline-block;
    height: 100%;
    margin: 0;
    line-height: var(--line-height);
}
button{
    background:transparent;
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    display: inline-block;
    -moz-appearance:textfield;
    width: 16px;
    background: transparent;
    border: none;
    text-align: center;
    vertical-align: middle;
}
input[type='number']:last-child{
    width: 32px;
}


.DatePicker{
    height: var(--height);
    padding: 8px;
    display: inline-block;
    background-color: #f9f9f9;
    width: 250px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}