:root{
    --img-height: 32px;
    --panel-height: 48px;
  }

.PanelButton p{
    display: block;
    text-align: center;
    margin: 0;
    color: #999;
}
.PanelButton img{
    height:var(--img-height);
    display: block;
    margin: auto;
}
.PanelButton{
    height: inherit;
    float: left;
    margin: 0 24px;
}

.Panel{
    padding: 16px;
    height: var(--panel-height);
    display: inline-block;
    background-color: #f9f9f9;
}