:root{
    --bar-height: 256px;
    --back-color: 
  }

.Bar p{
    display: block;
    text-align: center;
    margin: 0;
    color: #999;
}
.Bar div{
    display: block;
    width: 50px;
    margin: auto;
}

.Other{
    background-color: #9cc;
}
.Max{
    background-color: #39c;
}
.Max,.Other{
    border-radius: 4px;
}

.Bar{
    height: inherit;
    float: left;
    margin: 0 24px;
}

.Bars{
    padding: 16px;
    height: var(--bar-height);
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}